.md {
 
    page-home {
 
        .scroll-content {
            background-color: map-get($colors, light);
        }
        ion-card-header {
            font-weight: bold;
        }
        .slide-zoom {
        height: 100%;
        }
        .slide-title {
        margin-top: 2.8rem;
        }
    }
}